<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block content %}
<center>
<h3 class="mt-4">You have searched for {{query}}</h3>
  <div class="card-container d-flex flex-row">
  {% for i in p%}
    <div class="card">
      <img src="{{ i.image.url }}" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{ i.name }}</h5>
        <p class="card-text"></p>
        <a href="{% url 'shop:details' i.name %}" class="btn btn-primary">Details</a>
      </div>
    </div>
  {% endfor %}
</div>
    {% endblock %}
